@model CreateEmployeeDto


<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="Image" class="form-label">Upload Image</label>
        <input type="file" asp-for="Image" class="form-control" id="imageUpload" onchange="updateFileName()" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>


    <partial name="EmployeePartialView/_CreateEditPartialView" />
    <div class="mv-3">
        <input type="submit"  value="Create" class=" btn btn-primary"/>
        <a asp-action="Index" class="btn btn-light">Back to List</a>    

    </div>
    
</form>
@section ValidationSection{

    <partial name="_ValidationScriptsPartial" />
}


<script>
    function updateFileName() {
        var input = document.getElementById('imageUpload');
        if (input.files.length > 0) {
            input.nextElementSibling.value = input.files[0].name;
        }
    }
</script>