@model UserToReturn
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee @Model.FirstName</h1>
<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="EmployeePartialView/_CreateEditPartialView" />
</form>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}