@model RoleToReturn
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role @Model.Name</h1>
<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="EmployeePartialView/_CreateEditPartialView" />
</form>
<a asp-action="AddOrRemoveUsers" asp-route-roleId="@Model.Id" class="btn btn-warning">Add or Remove User</a>

@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}